table,th,td{ 
   border: solid black 2px;
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table{
    width: 300px;
}

th{
    background-color: darkgreen;
    color: white;
}

.Sally{
    color: darkgreen;
    background-color: rgb(206, 206, 206);
}

