table{
    border:1px solid black; /*borda*/
    width: 500px; /*largura*/
    height: 250px; /*altura*/
    /*border-collapse: collapse;/* fará com que as bordas colapsem em uma única borda*/
    border: none;
}

td{
    border: 1px solid black;
    background-color: #96d4d4; /*cor de fundo*/
    border-radius: 10px; /*deixar pontas arredondadas*/
    border-style: ridge;
}


